body, h1, ul, li, a {
    background-color: #f6f4f0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@keyframes subir {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    padding: 20px;
    animation: subir 1s ease forwards;
}

.img_inicial{
    border-radius: 15px;
}

.cabecalho_superior {
    display: flex; /* flex para ser mais flexivel */
    justify-content: space-between; /* alinha título e nav em lados opostos */
    align-items: center; /* centraliza verticalmente */
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    color:#2c3b33;
    font-family: 'Nunito', sans-serif;
}

.subtitulo {
    margin-top: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #1d2b23;
}

.frase {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;   
    line-height: 1.6;  /* espaçamento entre linhas */
    color: #333;
    text-align: center; 
}

/* bloco branco com texto */
.bloco_texto {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 50%;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagens1 {
    width: 100%;
    height: 350px;
    display: block; /* remove espaçamento extra abaixo da imagem */
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 40px;
}

.container-img1-2 a:hover .imagens1 {
  opacity: 0.7;
}

.container-img1-2 a:hover .imagens1,
.container-img2-3 a:hover .imagens1,
.container-img4-5 a:hover .imagens1 {
  opacity: 0.7;
  transition: 0.3s ease;
  cursor: pointer;
}

.container-img1-2 {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

.container-img1-2 a {
    width: 45%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: top;
}

.frase_img {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.container-img2-3 { 
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

.container-img2-3 a {
    width: 45%
}

.container-img2-3 a {
    width: 45%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.container-img4-5 { 
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

.container-img4-5 a {
    width: 45%
}

.container-img4-5 a {
    width: 45%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


.footer a {
    color: inherit;
    text-decoration: none;
}

.footer {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #000000;
    background-color: #ede8df; /* Cor de fundo consistente */
}